In [1]:
import pandas as pd

In [2]:
path = 'data.csv'

In [3]:
path

'data.csv'

In [4]:
df=pd.read_csv(path, encoding = 'cp949')
# df.head(10)

In [5]:
null_count=df.isnull().sum()
null_count

상가업소번호            0
상호명               0
상권업종대분류코드         0
상권업종대분류명          0
상권업종중분류코드         0
상권업종중분류명          0
상권업종소분류코드         0
상권업종소분류명          0
표준산업분류코드       8622
표준산업분류명        8622
시도코드              0
시도명               0
시군구코드             0
시군구명              0
행정동코드             0
행정동명              0
법정동코드             0
법정동명              0
지번코드              0
대지구분코드            0
대지구분명             0
지번본번지             0
지번부번지         19749
지번주소              0
도로명코드             0
도로명               0
건물본번지             0
건물부번지        119666
건물관리번호            0
건물명           75002
도로명주소             0
구우편번호           101
신우편번호             4
동정보          122366
층정보           69086
호정보          107227
경도                0
위도                0
지점명          123061
dtype: int64

In [6]:
df_null_count = null_count.reset_index()
df_null_count

        index       0
0      상가업소번호       0
1         상호명       0
2   상권업종대분류코드       0
3    상권업종대분류명       0
4   상권업종중분류코드       0
5    상권업종중분류명       0
6   상권업종소분류코드       0
7    상권업종소분류명       0
8    표준산업분류코드    8622
9     표준산업분류명    8622
10       시도코드       0
11        시도명       0
12      시군구코드       0
13       시군구명       0
14      행정동코드       0
15       행정동명       0
16      법정동코드       0
17       법정동명       0
18       지번코드       0
19     대지구분코드       0
20      대지구분명       0
21      지번본번지       0
22      지번부번지   19749
23       지번주소       0
24      도로명코드       0
25        도로명       0
26      건물본번지       0
27      건물부번지  119666
28     건물관리번호       0
29        건물명   75002
30      도로명주소       0
31      구우편번호     101
32      신우편번호       4
33        동정보  122366
34        층정보   69086
35        호정보  107227
36         경도       0
37         위도       0
38        지점명  123061

In [7]:
df_null_count.columns=['메뉴','결측']
df_null_count.columns

Index(['메뉴', '결측'], dtype='object')

In [8]:
df_null_count_3=df_null_count.sort_values(by='결측',ascending=False).head(10)
df_null_count_3

          메뉴      결측
38       지점명  123061
33       동정보  122366
27     건물부번지  119666
35       호정보  107227
29       건물명   75002
34       층정보   69086
22     지번부번지   19749
8   표준산업분류코드    8622
9    표준산업분류명    8622
31     구우편번호     101

In [9]:
drop_columns = df_null_count_3['메뉴']
drop_columns

38         지점명
33         동정보
27       건물부번지
35         호정보
29         건물명
34         층정보
22       지번부번지
8     표준산업분류코드
9      표준산업분류명
31       구우편번호
Name: 메뉴, dtype: object

In [10]:
drop_columns.to_list()

['지점명',
 '동정보',
 '건물부번지',
 '호정보',
 '건물명',
 '층정보',
 '지번부번지',
 '표준산업분류코드',
 '표준산업분류명',
 '구우편번호']

In [11]:
df[drop_columns]

,지점명,동정보,건물부번지,호정보,건물명,층정보,지번부번지,표준산업분류코드,표준산업분류명,구우편번호
0,NaN,NaN,NaN,NaN,NaN,1,35.0,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",402200.0
1,NaN,NaN,NaN,NaN,(주)신세계이마트계양점,2,1.0,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",407060.0
2,NaN,NaN,2.0,NaN,NaN,1,NaN,I56219,기타 주점업,403130.0
3,NaN,NaN,NaN,NaN,NaN,1,NaN,I56111,한식 음식점업,406831.0
4,NaN,NaN,NaN,NaN,월드아파트,1,NaN,I56111,한식 음식점업,404775.0
...,...,...,...,...,...,...,...,...,...,...
140072,NaN,NaN,1.0,NaN,NaN,1,5.0,I56111,한식 음식점업,400080.0
140073,NaN,NaN,6.0,101,NaN,NaN,36.0,G47852,애완용 동물 및 관련용품 소매업,403827.0
140074,NaN,NaN,NaN,201,구월신세계프라자,2,2.0,I56111,한식 음식점업,405221.0
140075,NaN,NaN,13.0,3,신양베스트빌,지,24.0,G47599,그외 기타 분류안된 가정용품 소매업,404836.0
140076,NaN,NaN,NaN,603,송도밀레니엄,6,1.0,P85620,예술 학원,406081.0

In [12]:
print(df.shape)

(140077, 39)

In [13]:
df=df.drop(drop_columns, axis=1)
df

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도코드,시도명,...,지번본번지,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,신우편번호,경도,위도
0,19925178,오구피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,28,인천광역시,...,1311,인천광역시 남구 주안동 1311-35,2.817020e+11,인천광역시 남구 미추홀대로,541,2.817010e+24,인천광역시 남구 미추홀대로 541,22216.0,126.678585,37.445680
1,19925318,데이앤데이계양점피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,28,인천광역시,...,911,인천광역시 계양구 작전동 911-1,2.824520e+11,인천광역시 계양구 봉오대로,785,2.824510e+24,인천광역시 계양구 봉오대로 785,21080.0,126.736875,37.531024
2,19927968,우리집양념,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,28,인천광역시,...,402,인천광역시 부평구 십정동 402,2.823740e+11,인천광역시 부평구 열우물로50번길,10,2.823710e+24,인천광역시 부평구 열우물로50번길 10-2,21445.0,126.700853,37.472823
3,19932479,콩나물솥뚜껑오겹살,Q,음식,Q01,한식,Q01A99,기타고기요리,28,인천광역시,...,491,인천광역시 연수구 청학동 491,2.818540e+11,인천광역시 연수구 용담로63번길,26,2.818510e+24,인천광역시 연수구 용담로63번길 26,21917.0,126.675299,37.419279
4,19920606,보리.보리,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,28,인천광역시,...,308,인천광역시 서구 불로동 308,2.826030e+11,인천광역시 서구 검단로,836,2.826010e+24,인천광역시 서구 검단로 836,22628.0,126.693057,37.618414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140072,16428453,육앤낙,Q,음식,Q01,한식,Q01A99,기타고기요리,28,인천광역시,...,19,인천광역시 중구 신포동 19-5,2.811040e+11,인천광역시 중구 우현로35번길,8,2.811010e+24,인천광역시 중구 우현로35번길 8-1,22322.0,126.626755,37.470607
140073,16411760,반려스타,D,소매,D09,애견/애완/동물,D09A01,애견/애완/동물사육판매,28,인천광역시,...,622,인천광역시 부평구 부평동 622-36,2.823740e+11,인천광역시 부평구 경인로1012번길,12,2.823710e+24,인천광역시 부평구 경인로1012번길 12-6,21426.0,126.731755,37.486584
140074,16423672,명성갈비,Q,음식,Q01,한식,Q01A02,갈비/삼겹살,28,인천광역시,...,1534,인천광역시 남동구 구월동 1534-2,2.820030e+11,인천광역시 남동구 선수촌공원로,25,2.820010e+24,인천광역시 남동구 선수촌공원로 25,21582.0,126.709750,37.441267
140075,16412047,만덕인테리어,D,소매,D07,가정/주방/인테리어,D07A01,인테리어/욕실용품/커튼,28,인천광역시,...,684,인천광역시 서구 연희동 684-24,2.826040e+11,인천광역시 서구 연희로14번길,9,2.826010e+24,인천광역시 서구 연희로14번길 9-13,22721.0,126.674869,37.549870
140076,16422459,미술재미학원,R,학문/교육,R05,학원-음악미술무용,R05A01,서예/서화/미술,28,인천광역시,...,3,인천광역시 연수구 송도동 3-1,2.818520e+11,인천광역시 연수구 컨벤시아대로,69,2.818510e+24,인천광역시 연수구 컨벤시아대로 69,21995.0,126.650687,37.395700

In [14]:
print(df.shape)

(140077, 29)

In [15]:
df.head()

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도코드,시도명,...,지번본번지,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,신우편번호,경도,위도
0,19925178,오구피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,28,인천광역시,...,1311,인천광역시 남구 주안동 1311-35,2.817020e+11,인천광역시 남구 미추홀대로,541,2.817010e+24,인천광역시 남구 미추홀대로 541,22216.0,126.678585,37.445680
1,19925318,데이앤데이계양점피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,28,인천광역시,...,911,인천광역시 계양구 작전동 911-1,2.824520e+11,인천광역시 계양구 봉오대로,785,2.824510e+24,인천광역시 계양구 봉오대로 785,21080.0,126.736875,37.531024
2,19927968,우리집양념,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,28,인천광역시,...,402,인천광역시 부평구 십정동 402,2.823740e+11,인천광역시 부평구 열우물로50번길,10,2.823710e+24,인천광역시 부평구 열우물로50번길 10-2,21445.0,126.700853,37.472823
3,19932479,콩나물솥뚜껑오겹살,Q,음식,Q01,한식,Q01A99,기타고기요리,28,인천광역시,...,491,인천광역시 연수구 청학동 491,2.818540e+11,인천광역시 연수구 용담로63번길,26,2.818510e+24,인천광역시 연수구 용담로63번길 26,21917.0,126.675299,37.419279
4,19920606,보리.보리,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,28,인천광역시,...,308,인천광역시 서구 불로동 308,2.826030e+11,인천광역시 서구 검단로,836,2.826010e+24,인천광역시 서구 검단로 836,22628.0,126.693057,37.618414

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140077 entries, 0 to 140076
Data columns (total 29 columns):
상가업소번호       140077 non-null int64
상호명          140077 non-null object
상권업종대분류코드    140077 non-null object
상권업종대분류명     140077 non-null object
상권업종중분류코드    140077 non-null object
상권업종중분류명     140077 non-null object
상권업종소분류코드    140077 non-null object
상권업종소분류명     140077 non-null object
시도코드         140077 non-null int64
시도명          140077 non-null object
시군구코드        140077 non-null int64
시군구명         140077 non-null object
행정동코드        140077 non-null int64
행정동명         140077 non-null object
법정동코드        140077 non-null int64
법정동명         140077 non-null object
지번코드         140077 non-null float64
대지구분코드       140077 non-null int64
대지구분명        140077 non-null object
지번본번지        140077 non-null int64
지번주소         140077 non-null object
도로명코드        140077 non-null float64
도로명          140077 non-null object
건물본번지        140077 non-null int64
건물관리번호       140077 non-null float64
도로명주소        140077 non-null object
신우편번호        140073 non-null float64
경도           140077 non-null float64
위도           140077 non-null float64
dtypes: float64(6), int64(8), object(15)
memory usage: 31.0+ MB

In [17]:
df.shape

(140077, 29)